.styles1-projects-section{
    margin: 30px;
}

@media only screen and (min-width: 768px) {
    [class*="col-lg-6"]{
        width: 70%;
    }
}

@media only screen and (min-width: 992px) {
    [class*="col-lg-6"]{
        width: 50%;
    }

    .styles1-projects-section .project-text{
        padding: 20px 60px 10px 60px;
        
    }
}
